body {
  background-color: #338889;
  font-family: Tahoma, sans-serif, serif;
}

#title, #description {
  text-align: center;
  color: #ffffff;
}

#title {
  margin: 5px;
}

#description {
  color: #2756E8;
  font-size: 14px;
  margin: 5px 0 25px 0; 
}

#survey-form {
  background-color: 
#DAECEB;
  color: #2756E8;
  opacity: 0.75;  
}

#name-label, #email-label, #number-label, #options-label, #referrer-label, #improve-label, #comments-label {
  width: 100%;
  margin: 5px;
  display: block;
}

#name, #email, #number, #dropdown, #comments {
  display: block;
  width: 95%;
  height: 24px;
  border: none;
  background-color: 
#DAECEB
;
  opacity: 0.70;
  margin: 7px;
  border-radius: 3px;
  border-bottom: 1px solid #2756E8;
}

.span {
  font-size: 13px;
}

#number, #comments {
  margin-bottom: 25px;
}

#dropdown {
  display: block;
  margin: 5px 12px 25px;     
}

#referrer-input, #checkbox {
  display: block;
  font-size: 14px;
  margin: 5px;
  color: #000000;
  opacity: 0.70;
}

.inline {
  vertical-align: top;
}

#improve-label, #comments-label {
  margin-top: 25px;
}

#comments {
  height: 80px;
}

input[type="submit"] {
  display: block;
  width: 95%;
  margin: 5px auto;
  margin-bottom: 25px;
  height: 2em;
  font-size: 1.1rem;
  background-color: #2756E8;
  border-color: white;
  min-width: 300px;
}
